.App {
    display: flex;
    height: 100vh;
  }
  
  .split {
    height: 100%;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .right {
    width: 65%;
    background-color:#F1F6F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-heading {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    position: relative;
    color: #212A3E;
    /* margin-top: -10rem; */
  }
  .sub-heading {
    font-size: 3rem; 
    margin-top: 0.5rem; 
    color: #9BA4B5;
    /* color: #FFD21E; */
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  
  .sub-sub-heading{
    font-size: 1.5rem; 
    font-weight: 100;
    margin-top: 5rem; 
    color: #212A3E;
  }
  .model{
    width: 50%;
    height: 50%;
  }
  .App {
    font-family: sans-serif;
    font-weight:800;
    font-size:40px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    /* background:green; */
    }
  
  /* .split {
    height: 100%;
    display: flex;
  } */
  
  .top {
    flex: 1;
  }
  
  .left {
    width: 40%;
    background-color: #394867;
  }
  
  .bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #F1F6F9;
  }
  .Footer{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: #F1F6F9;
      font-weight: 2;
  }
  
  
  img {
    height: 100%;
    width: auto;
    object-fit: contain;
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
  
  }
  
  /* .names-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .name {
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin: 0;
  } */
  
  /* .names-container.done-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .name {
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding-bottom: 0.5rem;
    line-height: 1.2;
  }
  
  .name::before {
    content: attr(class);
    display: block;
    font-size: 14px;
    color: #9BA4B5;
    margin-bottom: 0.25rem;
  } */
  .students-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }
  
  .student {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    /* padding: 10px; */
    /* margin-bottom: 10px; */
    /* border: 1px solid #ccc; */
  }
  
  .roll-number {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    padding: 0px;
    border-radius: 5px;
    height:40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  
  .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .close-button {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  .close-button:hover {
    color: #f00;
  }
  
  .verify-btn{
    margin: 20px 10px;
  }
  
  
  